<a class="card clickable">
    <div class="card-header">
        {{fundraiser.name}}
    </div>
    <div [routerLink]="[ '/detail', fundraiser.id ]" class="card-block">
        <clr-alert *ngIf="authError" [clrAlertType]="'danger'">
            <clr-alert-item>
                <span class="alert-text">
                    You do not have permission to delete this.
                </span>
            </clr-alert-item>
        </clr-alert>
        <div *ngIf="!loading" [ngPlural]="transactionCount" class="card-text">
            <ng-template ngPluralCase="=0">This fundraiser has {{transactionCount}} transactions.</ng-template>
            <ng-template ngPluralCase="=1">This fundraiser has {{transactionCount}} transaction.</ng-template>
            <ng-template ngPluralCase="other">This fundraiser has {{transactionCount}}
                transactions.</ng-template>
        </div>
        <div *ngIf="loading">
            <span class="spinner spinner-inline">
                Loading...
            </span>
            <span>
                Loading...
            </span>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onDelete()" class="btn btn-sm btn-link">Delete</button>
    </div>
</a>