<a  class="card clickable">
<div class="card-header">
    {{fundraiser.name}}
</div>
<div [routerLink]="[ '/detail', fundraiser.id ]" class="card-block">
        <div class="card-title">
        </div>
        <div [ngPlural]="fundraiser.count" class="card-text">
            <ng-template ngPluralCase="=0">This fundraiser has {{fundraiser.count}} transactions.</ng-template>
            <ng-template ngPluralCase="=1">This fundraiser has {{fundraiser.count}} transaction.</ng-template>
            <ng-template ngPluralCase="other">This fundraiser has {{fundraiser.count}} transactions.</ng-template>
        </div>
    </div>
    <div class="card-footer">
        <button (click)="onDelete()" class="btn btn-sm btn-link">Delete</button>
    </div>
</a>